version: '3.8'

services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
      - dev-static-data:/vol/web
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py wait_for_redis &&
             python manage.py migrate &&
             python manage.py setup_periodic_tasks &&
             python manage.py runserver 0.0.0.0:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=devdb
      - DB_USER=devuser
      - DB_PASS=changeme
      - GEMINI_API_KEY=AIzaSyDE2DbBRs5KBgp4KhFDj4-FopTY6Wt2jxk
    depends_on:
      - db
      - redis

  db:
    image: postgres:16.3-alpine3.20
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=changeme 

  redis:
    image: redis:6.2-alpine
    ports:
      - "6380:6379"
    volumes:
      - redis-data:/data

  celery:
    build:
      context: .
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py wait_for_redis &&
             celery -A core worker --loglevel=info"
    volumes:
      - ./app:/app
    environment:
      - DB_HOST=db
      - DB_NAME=devdb
      - DB_USER=devuser
      - DB_PASS=changeme
      - GEMINI_API_KEY=AIzaSyDE2DbBRs5KBgp4KhFDj4-FopTY6Wt2jxk
    depends_on:
      - db
      - redis

  celery-beat:
    build:
      context: .
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py wait_for_redis &&
             celery -A core beat --loglevel=info"
    volumes:
      - ./app:/app
    environment:
      - DB_HOST=db
      - DB_NAME=devdb
      - DB_USER=devuser
      - DB_PASS=changeme
      - GEMINI_API_KEY=AIzaSyBslEjICNMrU9on1KRhq6kjEFkguvTEB7s
    depends_on:
      - db
      - redis

volumes:
  dev-db-data:
  dev-static-data:
  redis-data:
